*[~#]
@*
*.[ao]
*.autosave
*.bak
build.ninja
cmake-build-*
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CMakeLists.txt.user
core
CTestTestfile.cmake
DartConfiguration.tcl
dist/
*.dll
docs/Doxyfile
docs/html/
*.dSYM
*.dylib
*.err
*.exe
*.gcda
*.gcno
*.gcov
.idea
libmdbx.creator.user
*.lo
mdbx_chk
mdbx_copy
mdbx_drop
mdbx_dump
mdbx_example
mdbx_load
mdbx_stat
mdbx_test
.ninja_deps
.ninja_log
*.orig
*.rej
*.so
src/config.h
src/version.c
*.tar*
test/cmake_install.cmake
test/CTestTestfile.cmake
test_extra_crunched_delete
test_extra_cursor_closing
test_extra_dbi
test_extra_doubtless_positioning
test_extra_dupfix_addodd
test_extra_dupfix_multiple
test_extra_early_close_dbi
test_extra_hex_base64_base58
test_extra_maindb_ordinal
test_extra_open
test_extra_pcrf
test_extra_upsert_alldups
Testing/
test.log
test/tmp.db
test/tmp.db-lck
tmp.db
tmp.db-lck
valgrind.*
version.c
.vs/
.vscode/
*.zip
