*.[ao]
*.bak
*.exe
*.gcda
*.gcno
*.gcov
*.lo
*.orig
*.rej
*.so
*[~#]
.idea
.le.ini
.vs/
Win32/
build-*
cmake-build-*
core
libmdbx.creator.user
mdbx-dll.VC.VC.opendb
mdbx-dll.VC.db
mdbx-dll.vcxproj.filters
mdbx_chk
mdbx_copy
mdbx_dump
mdbx_load
mdbx_stat
ootest/test
test.log
test/test.vcxproj.user
test/tmp.db
test/tmp.db-lck
tmp.db
tmp.db-lck
valgrind.*
x64/
x86/
