*[~#]
@*
*.[ao]
*.autosave
*.bak
@buildflags.tag
build.ninja
cmake-build-*
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CMakeLists.txt.user
config-cmake.h
config-gnumake.h
CTestTestfile.cmake
DartConfiguration.tcl
*.dll
*.dSYM
*.dylib
*.err
*.exe
*.gcda
*.gcno
*.gcov
.idea
libmdbx.creator.user
*.lo
mdbx_chk
mdbx_copy
mdbx_drop
mdbx_dump
mdbx_legacy_example
mdbx_modern_example
mdbx_load
mdbx_stat
.ninja_deps
.ninja_log
*.orig
*.rej
*.so
*.tar*
Testing/
tmp.db
tmp.db-lck
valgrind.*
.vs/
.vscode/
